.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
    border: solid 2px red;
    text-align: center;
}

.block__heading {
    margin-top: 0;
}

.block--dark {
    background-color: #000;
    color: #fff;
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem) ;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem) ;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}